.about-container {
    background-color: #f6f6f6;
}

.section-2 {
    background-color: #f6f6f6;
    box-shadow: 0 7px 2px -2px #d3d3d3;
    margin: 0;
}

.description {
    margin: 0.4rem auto 0 auto;
    /* max-width: 50%; */
    float: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-left {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* flex: 0.5; */
    height: 100%;
    box-shadow: 10px 0px 2px -2px #d3d3d3;
    transition: height 0.8s ease;
}

.description-left > p {
    font-size: 1.6rem;
    font-weight: bold;
    color: #2f2f2f;
    margin: 0;
    padding: 1.2rem 2rem 0 0;
}

.description-points {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.8rem;
    padding: 2.5rem 0 2.5rem 0.8rem;
    list-style-type: none;
    margin: 0;
    width: 97%;

    color: var(--darkGrey);
}

.description-points > li {
    display: flex;
}

.btn-info {
    border: none;
    color: var(--black);
    font-size: 1.1rem;
    width: 97%;
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
}

.active {
    color: #4c1a54;
    font-weight: bold;
    font-size: 1.2rem;
    border-right: 3px solid var(--purple);
    width: 100%;
}

.btn-info:hover {
    cursor: pointer;
    color: var(--purple);
    font-weight: bold;
}

.description-right {
    display: flex;
    align-items: center;
    flex: 1.5;
    padding-left: 2rem;
    height: 27rem;
    width: 100%;
    color: var(--darkGrey);
    transition: height 0.8s ease;
}

.period-right {
    margin-left: 2rem !important;
}

.experience-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.experience-info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.2rem;
}

.bar {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.5rem;
}
.bar > li,
.experience-list > li {
    position: relative;
    padding: 1rem 0;
    width: 21rem;
}
.experience-list > li {
    width: 22rem;
}

.bar > li:before {
    content: "\25CF";
    margin-right: 20px;
    font-size: 20px;
}
.bar > li:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    border-left: 2px solid var(--purple);
    margin-left: 5px;
    height: 100%;
}
.bar > li:first-of-type:after {
    top: 50%;
}
.bar > li:last-of-type:after {
    top: -50%;
}

.bar > li::before {
    color: var(--purple);
}

.experience-period {
    padding: 0;
    padding-top: 0.2rem;
    margin: 0;
    color: #979797;
    font-size: 1rem;
}

.about-see-more {
    background-color: var(--purple);
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 1px 1px 1px var(--darkGrey);
    color: white;
    font: bold 1.1rem/0.6rem "Segoe UI", "Roboto", sans-serif;

    height: 0.9rem;
    width: 0.9rem;

    padding: 4px 3px 0 3px;
    text-align: center;
    float: left;

    position: absolute;
    right: -1rem;
    user-select: none;
}

.not-li {
    user-select: none;
}

.about-see-more-first {
    top: 0.3rem;
}
.about-see-more-second {
    top: 0.3rem;
    right: 2rem !important;
}
.about-see-more-third {
    top: -0.7rem;
}
.about-see-more-fourth {
    top: 0.3rem;
    right: 2rem !important;
}
.about-see-more-fifth {
    top: -0.7rem;
}

.about-see-more:hover {
    font: bold 1.2rem/0.5rem "Segoe UI", "Roboto", sans-serif;
    cursor: pointer;
    height: 1rem;
    width: 1rem;
    right: -1.3rem;
}

.experience-left > ul {
    text-align: end;
}

.experience-list {
    list-style-type: none;
    padding: 0;
}

.third-li {
    padding-top: 0.1rem !important;
}

.fifth-li {
    padding-top: 0.1rem !important;
}

.aboutme-container {
    margin-left: 4.5rem;
    text-align: justify;
}

.location-icon {
    height: 1.4rem;
    margin: 0;
}

.location-div {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.location-div > span {
    margin-left: 0.4rem;
    font-size: 1.2rem;
    color: var(--darkGrey);
}

.aboutme-container > h1 {
    color: var(--darkGrey);
    margin-bottom: 0.5rem;
}

.aboutme-container > p {
    font-size: 1.2rem;
    color: var(--darkGrey);
    margin-top: 0;
}

.experience-more-info {
    width: 100%;
    height: 7rem;
    opacity: 0;
    transition: all 1s;
    box-shadow: 0.1rem 0.2rem 0.6rem var(--purple);
    animation: fadeIn 2s;
    transition: height 0.8s ease;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.exp-title {
    color: #4c1a54;
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 0;
    margin-top: 0.7rem;
    padding-left: 1.5rem;
}

.exp-desc {
    padding-left: 2rem;
    margin-top: 0.5rem;
}

.show-div {
    opacity: 1;
    position: relative;
}

.more-info-active {
    height: 40rem;
    transition: height 1s ease;
}

.exp-desc-ul {
    margin: 0;
    padding-left: 2rem;
}

.exp-hidden {
    display: hidden;
    list-style: none;
}

.exp-detail {
    position: relative;
    top: -8.6rem;
    right: -41rem;
    width: 2rem;
    height: 2rem;
    background: linear-gradient(-45deg, #51087e, #6c0ba9);
    animation: gradient 10s ease infinite;

    box-shadow: 0.1rem 0.2rem 0.6rem var(--purple);
    rotate: 45deg;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .description {
        display: none;
    }
    .section-mobile {
        width: 100%;
        box-shadow: 0 7px 2px -2px #d3d3d3;
        padding-bottom: 2rem;
        text-align: justify;
    }
    .description-mobile {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 1rem 2rem;
        margin-bottom: 0;
        background-color: #f6f6f6;
    }
    .desc-title-mobile {
        font-size: 1.4rem;
        font-weight: bold;
        color: #2f2f2f;
        margin: 0;
        padding: 1.2rem 0;
    }

    .desc-category-m {
        font-size: 1.3rem;
        font-weight: bold;
        margin: 0;
        margin-left: 2rem;
        color: var(--purple);
    }

    .location-m {
        display: flex;
        align-items: center;
        margin: 1rem 0 1rem 0;
    }

    .location-m > span {
        margin-left: 0.4rem;
        font-size: 1.1rem;
        color: var(--darkGrey);
    }
    .location-m > img {
        height: 1.2rem;
    }
    .desc-info-m {
        margin: 0;
        margin-bottom: 2rem;
    }
    .exp-category {
        margin-left: 0.4rem;
        margin-bottom: 0;
        font-size: 1.1rem;
        font-weight: bold;
        color: var(--darkGrey);
    }
    .exp-jobs-list-m {
        margin: 0;
        padding-left: 2rem;
    }
    .exp-jobs-list-m > li {
        margin-top: 0.5rem;
        position: relative;
    }
    .exp-jobs-list-m > li > span {
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--darkGrey);
    }
    .experience-period-m {
        padding: 0;
        padding-top: 0.2rem;
        margin: 0;
        /* width: 60%; */
        margin-left: 1rem;
        margin-bottom: 1.2rem;
        color: #747272;
        font-size: 1rem;
        /* border-bottom: 1px solid var(--darkGrey); */
        position: relative;
    }

    .experience-period-m:after {
        content: "";
        width: 70%;
        height: 1.1px;
        background-color: var(--purple);
        position: absolute;
        right: 1.5rem;
        top: 2rem;
    }

    .exp-desc-ul-m {
        list-style-type: none;
        margin: 0.5rem 0 1rem 0;
    }

    .exp-desc-ul-m > li::before {
        content: "\2022";
        color: var(--purple);
        font-weight: bold;
        display: inline-block;
        width: 1.2em;
        margin-left: -1.2em;
    }

    .exp-more-info-m {
        background-color: var(--purple);
        border: 2px solid white;
        border-radius: 50%;
        box-shadow: 1px 1px 1px var(--darkGrey);
        color: white;
        font: bold 1.1rem/0.6rem "Segoe UI", "Roboto", sans-serif;

        height: 1.1rem;
        width: 1.1rem;
        z-index: 10;
        position: absolute;
        right: 0rem;

        padding: 6px 3px 0 3px;
        text-align: center;
        float: left;
        user-select: none;
        cursor: pointer;
    }

    .info-first-m {
        top: 4.5rem;
    }
    .info-second-m {
        top: 2.8rem;
    }
    .info-third-m {
        top: 6rem;
    }
    .info-fourth-m {
        top: 4.5rem;
    }
    .info-fifth-m {
        top: 6rem;
    }

    .desc-more-info-m {
        margin-bottom: 1.5rem;
    }
}

@media (min-width: 403px) {
    .info-third-m {
        top: 4.5rem;
    }
}

@media (min-width: 420px) {
    .info-fifth-m {
        top: 4.5rem;
    }
}

@media (min-width: 489px) {
    .info-fourth-m {
        top: 2.8rem;
    }
}

@media (min-width: 553px) {
    .info-first-m {
        top: 2.8rem;
    }
}

@media (min-width: 701px) {
    .info-third-m {
        top: 2.8rem;
    }
}

@media (min-width: 718px) {
    .info-fifth-m {
        top: 2.8rem;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .experience-period-m:after {
        width: 80%;
    }
}

@media (min-width: 769px) and (max-width: 1905px) {
    .description-mobile {
        display: none;
    }

    .description {
        display: flex;
        flex-direction: column;
    }

    .description-left {
        box-shadow: none;
        width: 100%;
    }

    .description-left > p {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .description-points {
        flex-direction: row;
        align-items: center;
        width: 100%;
        gap: 0;
        padding: 1rem 0 1rem 0rem;
    }

    .description-points > li {
        width: 100%;
    }

    .active {
        border-right: none;
    }

    .active > span {
        padding: 0.1rem 1rem;
        border-bottom: 3px solid var(--purple);
    }

    .aboutme-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.2rem;
        margin: 0;
    }

    .location-div {
        margin-bottom: 0.1rem;
    }
    .description {
        width: 100%;
    }
    .description-right {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0 2rem 0;
        width: 85%;
    }

    .btn-info {
        justify-content: center;

        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .exp-detail {
        position: absolute;
        right: 5rem;
        top: -1rem;
    }
}

@media (min-width: 1551px) and (max-width: 1905px) {
    .experience-info {
        font-size: 1.2rem;
        width: 100%;
    }
}

@media (min-width: 2200px) and (max-width: 2700px) {
    .experience-more-info {
        width: 100%;
    }
    .exp-detail {
        position: absolute;
        right: 10rem;
        top: -1rem;
    }
}

@media (min-width: 2701px) {
    .experience-more-info {
        width: 80%;
    }
    .exp-detail {
        position: absolute;
        right: 10rem;
        top: -1rem;
    }
    .experience-container {
        align-items: center;
    }
}

@media (min-width: 1025px) and (max-width: 1905px) {
    .description-mobile {
        display: none;
    }
    .description {
        width: 60%;
    }

    .description-left > p {
        font-size: 1.4rem;
    }
    .aboutme-container {
        margin-left: 0;
        width: 100%;
    }
}

@media (min-width: 1906px) {
    .description-mobile {
        display: none;
    }
    .description {
        width: 50%;
    }
    .description-left {
        width: 20%;
    }
    .description-points > li::before {
        content: "\2022";
        color: var(--purple);
        font-weight: bold;
        display: inline-block;
        margin-left: -0.8em;
    }
    .aboutme-container {
        margin-left: 1rem;
        width: 100%;
    }
}
