.animations-section-1 {
    background-color: #f6f6f6;
    box-shadow: 0 7px 2px -2px #d3d3d3;
}

.animations-section {
    margin: 0 auto;
    width: 50%;
    float: none;
    padding-bottom: 3rem;
}

.animations-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
}

.animations-container > div {
    margin: 1rem 0;
    box-shadow: 0 0 10px 8px #c2bee6;
}
/* ------------animations title */

.animations-title {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.6rem;
    color: var(--darkGrey);
    user-select: none;

    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}

.animations-title > span {
    position: relative;
    display: inline-block;
    animation: waviy 1.5s infinite;
    animation-delay: calc(0.1s * var(--letter));
    letter-spacing: 0.3rem;
    font-weight: bold;
}

@keyframes waviy {
    0%,
    40%,
    100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-0.5rem);
    }
}

/* ------------end animations title */

/* ----------------------- wave animation */
.find-more-desc {
    width: 100%;
    position: relative;
    background-color: #e4f4f3;
    overflow: hidden;

    transform-origin: 50% 50%;
}

.sun-container {
    position: absolute;
    top: 1.5rem;
    right: 7rem;
    height: 4rem;
    width: 4rem;
    background: linear-gradient(-45deg, #f1cc9c, #e58300);
    box-shadow: 0 0 10px 10px #ffd59e;
    border-radius: 50%;
    animation: sunny 6s infinite;
}

@keyframes sunny {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.cloud-container-1,
.cloud-container-2 {
    position: absolute;
    height: 4rem;
    width: 4rem;
    border-radius: 3rem;
    -moz-border-radius: 3rem;
    -webkit-border-radius: 3rem;
    animation-direction: normal;
}

.cloud-container-1 {
    top: 2.7rem;
    animation: cloud 20s ease infinite;
}

.cloud-container-2 {
    top: 2rem;
    left: -5rem;
    transform: scale(0.5);

    animation: cloud 30s ease infinite;
    animation-delay: 2s;
    opacity: 1;
}

.cloud-1 {
    border-radius: 50%;
    position: absolute;
    background-color: #b3cee5;
}

.cloud-2 {
    border-radius: 50%;
    position: absolute;
    background-color: #b7cfdc;
}

.cloud-part-1 {
    width: 5rem;
    height: 4rem;
    top: -0.2rem;
}

.cloud-part-2 {
    top: 0.9rem;
    left: -1rem;
    width: 4rem;
    height: 2.5rem;
}

.cloud-part-3 {
    top: 1.8rem;
    right: 1.9rem;
    width: 4rem;
    height: 2rem;
}

.cloud-part-4 {
    top: 1.6rem;
    right: -2rem;
    width: 6rem;
    height: 2rem;
}

.cloud-part-5 {
    top: 0.8rem;
    right: -1.5rem;
    width: 4rem;
    height: 2rem;
}

@keyframes cloud {
    0% {
        opacity: 0;
        left: -5.5rem;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0.8;
        left: 52rem;
    }
}

.css-waves {
    width: 100%;
    height: 10rem;
    margin-bottom: -7px;
    min-height: 10rem;
    max-height: 20rem;
}

.animated-waves > use {
    animation: infinite-waves 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.animated-waves > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 10s;
}
.animated-waves > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 12s;
}
.animated-waves > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 15s;
}
.animated-waves > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 17s;
}
@keyframes infinite-waves {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

@media (max-width: 768px) {
    .css-waves {
        height: 20rem;
        min-height: 15rem;
    }
}

.fish-container {
    width: 100%;
}

.fish-1,
.fish-2 {
    width: 1rem;
    margin: 0;
}

.fish-1 {
    animation: swim-1 10s infinite;
}

.fish-2 {
    animation: swim-2 10s infinite;
    animation-delay: -6s;
}

.fish-3 {
    animation: swim-3 10s infinite;
    animation-delay: -3s;
}

.fish-body-1,
.fish-body-2,
.fish-body-3 {
    position: relative;
    margin-top: 1.3rem;
    margin-left: 0.8rem;

    border-radius: 50%;
    width: 2.2rem;
    height: 1.4rem;
}

.eye {
    position: absolute;
    margin-left: 0.9rem;
    margin-top: 0.3rem;
    z-index: 1;
    background-color: white;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
}

.pupil {
    position: absolute;
    z-index: 2;
    margin-left: 0.1rem;
    margin-top: 0.1rem;
    background-color: black;
    border-radius: 50%;
    height: 0.4rem;
    width: 0.4rem;
}

.fin-1,
.fin-2,
.fin-3 {
    margin-top: -1.2rem;
    border-radius: 50%;
    transform: rotate(40deg);
    width: 1.2rem;
    height: 0.8rem;
}

.fin-1,
.fish-body-1 {
    background-color: rgb(183, 89, 183);
}

.fin-2,
.fish-body-2 {
    background-color: #bbc1c6;
}

.fin-3,
.fish-body-3 {
    background-color: #df9857;
}

.fin-bottom {
    margin-top: -10px;
    transform: rotate(-40deg);
}

@keyframes swim-1 {
    0% {
        transform: translateY(13rem) translateX(-1.5rem) rotate(10deg);
        opacity: 0;
    }
    25% {
        transform: translateY(14rem) translateX(8rem) rotate(12deg);
    }
    50% {
        transform: translateY(13.5rem) translateX(17rem);
    }
    75% {
        transform: translateY(14rem) translateX(25rem) rotate(-10deg);
        opacity: 0.8;
    }
    100% {
        transform: translateY(13rem) translateX(35rem) rotate(-10deg);
        opacity: 0;
    }
}

@keyframes swim-2 {
    0% {
        transform: translateY(12rem) translateX(-1.5rem) rotate(-20deg);
        opacity: 0;
    }
    25% {
        transform: translateY(11rem) translateX(6rem) rotate(10deg);
    }
    50% {
        transform: translateY(11rem) translateX(14rem);
        opacity: 0.7;
    }
    75% {
        transform: translateY(10rem) translateX(25rem) rotate(-10deg);
        opacity: 0.7;
    }
    100% {
        transform: translateY(12rem) translateX(37rem) rotate(0deg);
        opacity: 0;
    }
}

@keyframes swim-3 {
    0% {
        transform: translateY(5rem) translateX(-1.5rem) rotate(-20deg);
        opacity: 0;
    }
    25% {
        transform: translateY(10rem) translateX(10rem) rotate(10deg);
        opacity: 0.7;
    }
    50% {
        transform: translateY(9rem) translateX(17rem);
        opacity: 0.9;
    }
    75% {
        transform: translateY(7rem) translateX(24rem) rotate(-10deg);
        opacity: 0.7;
    }
    100% {
        transform: translateY(8rem) translateX(30rem) rotate(0deg);
        opacity: 0;
    }
}

/* -------------------end wave animation */

/* ------------------balloons animation */

.animation-balloon-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: linear-gradient(-45deg, #91b9d0, #b1d4e0);
    animation: gradient-sky 6s ease infinite;
    background-size: 400% 400%;
}

.balloons-container-1 {
    position: relative;
    transform: scale(0.6);
    top: 3rem;
    animation: move-up-down-balloon-1 3s ease infinite,
        left-to-right-balloon-1 20s ease infinite;
}

.balloons-container-2 {
    position: relative;
    transform: scale(0.8);
    top: 5rem;
    animation: move-up-down-balloon-2 3s ease infinite,
        left-to-right-balloon-2 25s ease infinite;
}

.balloons-container-3 {
    position: relative;
    transform: scale(0.3);
    top: 2rem;
    animation: move-up-down-balloon-3 3s ease infinite,
        left-to-right-balloon-3 30s ease infinite;
}

.balloons-container-4 {
    position: relative;
    transform: scale(0.3);
    top: 9rem;
    left: -3rem;
    animation: move-up-down-balloon-4 3s ease infinite;
}

.balloons-container-5 {
    position: relative;
    transform: scale(0.35);
    top: 4.3rem;
    left: 9rem;
    animation: move-up-down-balloon-5 3s ease infinite;
}

.balloon-1,
.balloon-2,
.balloon-3,
.balloon-4,
.balloon-5 {
    position: absolute;
}

/* balloon1 */
.balloon-1 {
    width: 7rem;
    background-color: #d18700;
    height: 7rem;
    border-radius: 50%;
}

.balloon-2 {
    left: 1.1rem;
    width: 4.8rem;
    background-color: #ffd68a;
    height: 7.6rem;
    border-radius: 50%;
}

.balloon-3 {
    left: 2.2rem;
    width: 2.4rem;
    background-color: #d18700;
    height: 7.5rem;
    border-radius: 50%;
}

.balloon-4 {
    top: 2.5rem;
    rotate: -45deg;
    left: 0.9rem;
    width: 3rem;
    background-color: orange;
    height: 6rem;
    border-radius: 50%;
}

.balloon-5 {
    top: 2.5rem;
    rotate: 45deg;
    left: 3rem;
    width: 3rem;
    background-color: orange;
    height: 6rem;
    border-radius: 50%;
}

/* end baloon 1 */

/* balloon2 */
.color-b2-1 {
    background-color: #d10000 !important;
}
.color-b2-2 {
    background-color: #e7625f !important;
}
.color-b2-3 {
    background-color: #d10000 !important;
}
.color-b2-4 {
    background-color: #ff5c5c !important;
}
.color-b2-5 {
    background-color: #ff5c5c !important;
}
.color-b2-basket {
    background-color: #750000 !important;
}
/* end balloon2 */

/* balloon3 */
.color-b3-1 {
    background-color: #4120a9 !important;
}
.color-b3-2 {
    background-color: #a16ae8 !important;
}
.color-b3-3 {
    background-color: #4120a9 !important;
}
.color-b3-4 {
    background-color: #a1a9fe !important;
}
.color-b3-5 {
    background-color: #a1a9fe !important;
}
.color-b3-basket {
    background-color: #341948 !important;
}
/* end balloon3 */

/* balloon4 */
.color-b4-1 {
    background-color: #73436d !important;
}
.color-b4-2 {
    background-color: #e5e6e9 !important;
}
.color-b4-3 {
    background-color: #73436d !important;
}
.color-b4-4 {
    background-color: #b67c9a !important;
}
.color-b4-5 {
    background-color: #b67c9a !important;
}
.color-b4-basket {
    background-color: #1f252f !important;
}
/* end balloon4 */

/* balloon5 */
.color-b5-1 {
    background-color: #1a3315 !important;
}
.color-b5-2 {
    background-color: #b1d8b7 !important;
}
.color-b5-3 {
    background-color: #1a3315 !important;
}
.color-b5-4 {
    background-color: #94c973 !important;
}
.color-b5-5 {
    background-color: #94c973 !important;
}
.color-b5-basket {
    background-color: #2f5233 !important;
}
/* end balloon5 */
.balloon-fire {
    width: 2.6rem;
    height: 1.2rem;
    background-color: #754c00;
    position: absolute;
    top: 7.4rem;
    left: 2.1rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}

.balloon-cord-left {
    position: absolute;
    border-left: 2px solid #754c00;
    top: 8.4rem;
    left: 2.3rem;
    rotate: 10deg;

    height: 1rem;
}

.balloon-cord-right {
    position: absolute;
    border-right: 2px solid #754c00;
    top: 8.4rem;
    left: 4.5rem;
    rotate: -10deg;

    height: 1rem;
}

.balloon-basket {
    width: 3rem;
    height: 1.5rem;
    background-color: #a36a00;
    position: absolute;
    top: 9.3rem;
    left: 2rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}

.mountains-container {
    position: relative;
}

.mountain-1 {
    position: absolute;
    top: 10rem;
    width: 12rem;
    height: 12rem;
    background-color: #9388a2;
    rotate: 45deg;
}

.mountain-2 {
    position: absolute;
    top: 13rem;
    left: 5rem;
    width: 12rem;
    height: 12rem;
    background-color: #57896a;
    rotate: 45deg;
}

.mountain-3 {
    position: absolute;
    top: 8rem;
    left: 7rem;
    width: 14rem;
    height: 12rem;
    background-color: gray;
    rotate: 45deg;
}

.mountain-4 {
    position: absolute;
    top: 14rem;
    left: 14rem;
    width: 20rem;
    height: 14rem;
    background-color: pink;
    rotate: 45deg;
}

.mountain-5 {
    position: absolute;
    top: 9rem;
    left: 26rem;
    width: 17rem;
    height: 19rem;
    background-color: #914955;
    rotate: 45deg;
}
.mountain-6 {
    position: absolute;
    top: 12rem;
    left: 37rem;
    width: 17rem;
    height: 19rem;
    background-color: #57896a;
    rotate: 45deg;
}

.cloud-container-balloons-1 {
    position: relative;
    top: 6rem;
    left: 9rem;
    transform: scale(0.8);
    opacity: 0.9;
    animation: move-up-down-clouds 4s infinite;
}

.cloud-container-balloons-2 {
    position: relative;
    top: 12rem;
    left: 4rem;
    transform: scale(0.8);
    opacity: 0.9;
    animation: move-up-down-clouds 5s infinite;
    animation-delay: 1s;
}

.cloud-container-balloons-3 {
    position: relative;
    top: 9rem;
    left: -2rem;
    transform: scale(0.8);
    opacity: 0.5;
    animation: move-up-down-clouds 6s infinite;
    animation-delay: 3s;
}

.cloud-container-balloons-4 {
    position: relative;
    top: 8rem;
    left: 19rem;
    transform: scale(0.8);
    opacity: 0.8;
    animation: move-up-down-clouds 6s infinite;
    animation-delay: 3s;
}

.cloud-container-balloons-5 {
    position: relative;
    top: 3rem;
    left: 30rem;
    transform: scale(0.8);
    opacity: 0.8;
    animation: move-up-down-clouds 6s infinite;
    animation-delay: 3s;
}

.cloud-container-balloons-2 > div {
    background-color: #cccccc;
}

.cloud-balloon {
    border-radius: 50%;
    position: absolute;
    left: 1rem;
    background-color: #e2e5de;
}

.cloud-part-b1 {
    width: 5.5rem;
    height: 4rem;
    top: -0.2rem;
}

.cloud-part-b2 {
    top: 0.9rem;
    left: -2rem;
    width: 6rem;
    height: 2.5rem;
}

.cloud-part-b3 {
    top: 1.8rem;
    right: 1.9rem;
    width: 4rem;
    height: 2rem;
}

.cloud-part-b4 {
    top: 1.6rem;
    right: -2rem;
    width: 6rem;
    height: 2rem;
}

.cloud-part-b5 {
    top: 0.8rem;
    right: -1.5rem;
    width: 6.5rem;
    height: 2.5rem;
}

.cloud2-part-b1 {
    width: 7rem;
    height: 3rem;
    top: -0.2rem;
}

.cloud2-part-b2 {
    top: 0.9rem;
    left: -2rem;
    width: 9rem;
    height: 5rem;
}

.cloud2-part-b3 {
    top: 1.8rem;
    right: 1.9rem;
    width: 7rem;
    height: 3rem;
}

.cloud2-part-b4 {
    top: 2rem;
    left: 6rem;
    width: 9rem;
    height: 3.5rem;
}

.cloud2-part-b5 {
    top: 0.8rem;
    right: -1.5rem;
    width: 12rem;
    height: 4rem;
}

@keyframes gradient-sky {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes move-up-down-clouds {
    0%,
    100% {
        transform: translateY(0) scale(0.8);
    }
    50% {
        transform: translateY(0.2rem) scale(0.8);
    }
}

@keyframes move-up-down-balloon-1 {
    0%,
    100% {
        transform: translateY(0) scale(0.6);
    }
    50% {
        transform: translateY(-0.5rem) scale(0.6);
    }
}

@keyframes move-up-down-balloon-2 {
    0% {
        transform: translateY(0) scale(0.8);
    }
    50% {
        transform: translateY(-0.3rem) scale(0.8);
    }
    100% {
        transform: translateY(0) scale(0.8);
    }
}

@keyframes move-up-down-balloon-3 {
    0%,
    100% {
        transform: translateY(0) scale(0.3);
    }
    50% {
        transform: translateY(-0.2rem) scale(0.3);
    }
}
@keyframes move-up-down-balloon-4 {
    0%,
    100% {
        transform: translateY(0) scale(0.3);
    }
    50% {
        transform: translateY(-0.2rem) scale(0.3);
    }
}

@keyframes move-up-down-balloon-5 {
    0%,
    100% {
        transform: translateY(0) scale(0.35);
    }
    50% {
        transform: translateY(-0.2rem) scale(0.35);
    }
}

@keyframes left-to-right-balloon-1 {
    0% {
        left: -12rem;
    }
    100% {
        left: 44rem;
    }
}

@keyframes left-to-right-balloon-2 {
    0% {
        left: -15rem;
    }
    100% {
        left: 45.5rem;
    }
}

@keyframes left-to-right-balloon-3 {
    0% {
        left: -12rem;
    }
    100% {
        left: 44rem;
    }
}
/* ------------------end balloons animation */

.animations-container > p {
    margin-top: 2rem;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: var(--purple);
}

@media (max-width: 770px) {
    .animation-balloon-container,
    .find-more-desc {
        height: 13rem;
    }
}

@media (max-width: 899px) {
    .animations-section {
        width: 80%;
    }
    .animations-container {
        display: flex;
        flex-direction: column;
        /* flex-flow: row wrap; */
    }
    .animation-balloon-container,
    .find-more-desc {
        height: 17rem;
    }
}

@media (min-width: 900px) and (max-width: 1024px) {
    .animations-section {
        width: 80%;
    }
    .animations-container {
        column-gap: 3rem;
    }
}

@media (min-width: 1025px) and (max-width: 1550px) {
    .animations-section {
        width: 60%;
    }
    .animations-container {
        column-gap: 3rem;
    }
}
