.animations-section-1 {
    background-color: #f6f6f6;
    box-shadow: 0 7px 2px -2px #d3d3d3;
}

.animations-section {
    margin: 0 auto;
    max-width: 50%;
    float: none;
    padding-bottom: 3rem;
}

.animations-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 7rem;
}

.animations-container > div {
    margin: 1rem 0;
    border: 1px solid black;
}
/* ------------animations title */

.animations-title {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 3rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    color: var(--darkGrey);
    user-select: none;

    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
}

.animations-title > span {
    position: relative;
    display: inline-block;
    animation: waviy 1.5s infinite;
    animation-delay: calc(0.1s * var(--letter));
    letter-spacing: 0.3rem;
    font-weight: bold;
}

/* .letter-div {
    animation: color-letter 4s linear infinite !important;
}

.a {
    --color-1: #281c2d;
    --color-2: #8155ba;
    --color-3: #695e93;
}

.n {
    --color-1: #beafc2;
    --color-2: #d9a1a0;
    --color-3: #eae7fa;
}

.i {
    --color-1: #281c2d;
    --color-2: #8155ba;
    --color-3: #695e93;
}

.m {
    --color-1: #a58cb3;
    --color-2: #d9a1a0;
    --color-3: #eae7fa;
}

.t {
    --color-1: #beafc2;
    --color-2: #695e93;
    --color-3: #8155ba;
}

.o {
    --color-1: #281c2d;
    --color-2: #9388a2;
    --color-3: #341948;
}

@keyframes color-letter {
    0% {
        color: var(--color-1);
    }
    32% {
        color: var(--color-1);
    }
    33% {
        color: var(--color-2);
    }
    65% {
        color: var(--color-2);
    }
    66% {
        color: var(--color-3);
    }
    99% {
        color: var(--color-3);
    }
    100% {
        color: var(--color-1);
    }
} */

@keyframes waviy {
    0%,
    40%,
    100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-0.5rem);
    }
}

/* ------------end animations title */

/* ----------------------- wave animation */
.find-more-desc {
    width: 100%;
}

.css-waves {
    width: 100%;
    height: 10rem;
    margin-bottom: -7px;
    min-height: 10rem;
    max-height: 20rem;
}

.animated-waves > use {
    animation: infinite-waves 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.animated-waves > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 10s;
}
.animated-waves > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 13s;
}
.animated-waves > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 17s;
}
.animated-waves > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 23s;
}
@keyframes infinite-waves {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

@media (max-width: 768px) {
    .css-waves {
        height: 20rem;
        min-height: 15rem;
    }
}

.fish-container {
    width: 100%;
}

.fish-1,
.fish-2 {
    width: 1rem;
    margin: 0;
}

.fish-1 {
    animation: swim-1 10s infinite;
}

.fish-2 {
    animation: swim-2 10s infinite;
    animation-delay: -6s;
}

.fish-3 {
    animation: swim-3 10s infinite;
    animation-delay: -3s;
}

.fish-body-1,
.fish-body-2,
.fish-body-3 {
    position: relative;
    margin-top: 1.3rem;
    margin-left: 1rem;

    border-radius: 50%;
    width: 2rem;
    height: 1.4rem;
}

.fish-body-1 {
    background-color: purple;
}
.fish-body-2 {
    background-color: #bbc1c6;
}

.fish-body-3 {
    background-color: #8a8aff;
}

.eye {
    position: absolute;
    margin-left: 0.9rem;
    margin-top: 0.3rem;
    z-index: 1;
    background-color: white;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
}

.pupil {
    position: absolute;
    z-index: 2;
    margin-left: 0.1rem;
    margin-top: 0.1rem;
    background-color: black;
    border-radius: 50%;
    height: 0.4rem;
    width: 0.4rem;
}

.fin-1,
.fin-2,
.fin-3 {
    margin-top: -1.2rem;
    background-color: purple;
    border-radius: 50%;
    transform: rotate(40deg);
    width: 1.2rem;
    height: 0.8rem;
}

.fin-1 {
    background-color: purple;
}

.fin-2 {
    background-color: #bbc1c6;
}

.fin-3 {
    background-color: #8a8aff;
}

.fin-bottom {
    margin-top: -10px;
    transform: rotate(-40deg);
}

@keyframes swim-1 {
    0% {
        transform: translateY(13rem) translateX(-1.5rem) rotate(10deg);
        opacity: 0;
    }
    25% {
        transform: translateY(14rem) translateX(7rem) rotate(12deg);
    }
    50% {
        transform: translateY(13.5rem) translateX(15rem);
    }
    75% {
        transform: translateY(14rem) translateX(19rem) rotate(-10deg);
        opacity: 0.8;
    }
    100% {
        transform: translateY(13rem) translateX(23rem) rotate(-10deg);
        opacity: 0;
    }
}

@keyframes swim-2 {
    0% {
        transform: translateY(12rem) translateX(-1.5rem) rotate(-20deg);
        opacity: 0;
    }
    25% {
        transform: translateY(11rem) translateX(6rem) rotate(10deg);
    }
    50% {
        transform: translateY(11rem) translateX(14rem);
        opacity: 0.7;
    }
    75% {
        transform: translateY(10rem) translateX(18rem) rotate(-10deg);
        opacity: 0.7;
    }
    100% {
        transform: translateY(12rem) translateX(22rem) rotate(0deg);
        opacity: 0;
    }
}

@keyframes swim-3 {
    0% {
        transform: translateY(5rem) translateX(-1.5rem) rotate(-20deg);
        opacity: 0;
    }
    25% {
        transform: translateY(10rem) translateX(10rem) rotate(10deg);
        opacity: 0.7;
    }
    50% {
        transform: translateY(9rem) translateX(12rem);
        opacity: 0.9;
    }
    75% {
        transform: translateY(7rem) translateX(17rem) rotate(-10deg);
        opacity: 0.7;
    }
    100% {
        transform: translateY(8rem) translateX(23rem) rotate(0deg);
        opacity: 0;
    }
}

/* -------------------end wave animation */
