.contact-section {
    box-shadow: 0 7px 2px -2px #d3d3d3;
}

.contact-container {
    margin: 0 auto;
    max-width: 50%;
    float: none;
    margin-bottom: 0.5rem;
    padding-bottom: 3rem;
    padding-top: 1rem;
}

.contact-container > p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--darkGrey);
}

.info-container {
    display: flex;
    justify-content: center;
}

.address-info > img,
.phone-info > img,
.email-info > img {
    width: 3rem;
}

.address-info,
.phone-info,
.email-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
    width: 11rem;
}

.address-info > p,
.phone-info > p,
.email-info > p {
    margin: 0.2rem;
    color: #5a5a5a;
}

.contact-desc {
    margin: 0;
    font-size: 1.2rem;
    color: #808080;
    font-weight: bold;
}

.contact-me {
    padding-top: 0.5rem;
    font-size: 1.2rem;
    color: var(--purple) !important;
}
