.contact-section {
    box-shadow: 0 7px 2px -2px #d3d3d3;
}

.contact-container {
    margin: 0 auto;
    width: 50%;
    float: none;
    margin-bottom: 0.5rem;
    padding-bottom: 3rem;
    padding-top: 1rem;
}

.contact-container > p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--darkGrey);
    user-select: none;
}

.info-container {
    display: flex;
    justify-content: center;
}

.address-info > img,
.phone-info > img,
.email-info > img {
    width: 3rem;
    user-select: none;
}

.address-info,
.phone-info,
.email-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
    width: 11rem;
}

.address-info > p,
.phone-info > p,
.email-info > p {
    margin: 0.2rem;
    color: #5a5a5a;
}

.contact-desc {
    margin: 0;
    font-size: 1.2rem;
    color: #808080;
    font-weight: bold;
    user-select: none;
}

.contact-me {
    padding-top: 0.5rem;
    font-size: 1.2rem;
    color: var(--purple) !important;
}

@media (min-width: 1025px) and (max-width: 1550px) {
    .contact-container {
        width: 60%;
    }

    .address-info,
    .phone-info,
    .email-info {
        margin: 0 0.5rem;
    }
}

@media (min-width: 720px) and (max-width: 1024px) {
    .contact-container {
        width: 80%;
    }
    .address-info,
    .phone-info,
    .email-info {
        margin: 0 0.5rem;
    }
}

@media (min-width: 601px) and (max-width: 719px) {
    .address-info > img,
    .phone-info > img,
    .email-info > img {
        transform: scale(1);
        margin-bottom: 0.5rem;
    }
    .contact-container {
        width: 80%;
        padding: 0;
    }
    .info-container {
        display: flex;
        flex-flow: row wrap;
    }
    .address-info,
    .phone-info,
    .email-info {
        margin: 0 2rem 2rem 2rem;
    }
    .contact-container > p {
        justify-content: flex-start;
    }
}

@media (min-width: 500px) and (max-width: 600px) {
    .address-info > img,
    .phone-info > img,
    .email-info > img {
        transform: scale(1);
        margin-bottom: 0.5rem;
    }
    .contact-container {
        width: 80%;
        padding: 0;
    }
    .info-container {
        display: flex;
        flex-flow: row wrap;
    }
    .address-info,
    .phone-info,
    .email-info {
        margin: 0 0rem 1rem 0rem;
    }
    .contact-container > p {
        justify-content: flex-start;
    }
}

@media (min-width: 300px) and (max-width: 499px) {
    .info-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-container {
        padding: 0;
        width: 80%;
    }
    .contact-container > p {
        justify-content: flex-start;
    }
    .address-info,
    .phone-info,
    .email-info {
        margin-bottom: 3rem;
    }
    .address-info > img,
    .phone-info > img,
    .email-info > img {
        transform: scale(1.3);
        margin-bottom: 0.5rem;
    }
}
