.contact-section {
    box-shadow: 0 7px 2px -2px #d3d3d3;
}

.contact-container {
    margin: 0 auto;
    max-width: 50%;
    float: none;
}

.contact-container > p {
    font-size: 1.6rem;
    font-weight: bold;
    color: #2f2f2f;
    margin: 2rem 0;
    padding: 1.2rem 0;
    letter-spacing: 0.1rem;
    padding: 0;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 100%;
    width: 100%;
}
