.intro {
    margin: 0 auto;
    max-width: 50%;
    float: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--grey);
    flex-direction: column;
    height: 28rem;
}

.intro > :nth-child(1) {
    padding: 0 !important;
    font-size: 4rem;
}

.intro-images {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0 0 0;
    gap: 2rem;
}

.github {
    filter: brightness(80%);
    width: 3.1rem;
    height: 3rem;
    /* padding-top: 0.`rem; */
}

.github:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.linkedin {
    filter: brightness(80%);
    height: 3.4rem;
    padding-top: 0.1rem;
}

.linkedin:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.intro-images > a {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.span-linkedin {
    margin-top: 0.5rem;
    color: var(--grey);
}

.a-github {
    margin-top: 0.2rem !important;
    display: flex;
}

.span-github {
    margin-top: 0.7rem;
    padding-top: 0.2rem;
    color: var(--grey);
}

@media (max-width: 767px) {
    .intro {
        max-width: 80%;
        height: 25rem;
    }

    .intro > :nth-child(1) {
        font-size: 2.7rem;
    }

    .intro-images {
        margin: 4rem 0 0 0;
        gap: 2rem;
        transform: scale(0.8);
    }
}

@media (min-width: 767px) and (max-width: 1024px) {
    .intro {
        max-width: 80%;
        height: 25rem;
    }

    .intro > :nth-child(1) {
        font-size: 3.2rem;
    }

    .intro-images {
        margin: 4rem 0 0 0;
        gap: 2rem;
        transform: scale(0.8);
    }
}

@media (min-width: 1025px) and (max-width: 1550px) {
    .intro {
        max-width: 60%;
    }
    .intro > :nth-child(1) {
        font-size: 3.3rem;
    }
    .intro-images {
        margin: 4rem 0 0 0;
        gap: 2rem;
        transform: scale(0.8);
    }
}
