.container-loading {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(241, 231, 254);
    z-index: 10;
    animation: remove-loading 2s;
    animation-timing-function: linear;
}
.loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.balloons-container-4-loading {
    position: absolute;
    top: -7rem;
    left: 2rem;
    animation: move-up-down-balloon-4-loading 2s ease infinite;
}

.loading-text {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
}
@keyframes move-up-down-balloon-4-loading {
    0%,
    100% {
        transform: translateY(0.2rem) scale(0.75);
    }
    50% {
        transform: translateY(-0.2rem) scale(0.8);
    }
}

@keyframes remove-loading {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
