.section-1 {
    background-color: #f2f2f2;
    height: 5rem;
    box-shadow: 0 7px 2px -2px #d3d3d3;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: 0.7s;
    flex-direction: column;
}

.used-technologies {
    margin: 0 auto;
    max-width: 50%;
    float: none;

    list-style-type: none;
    display: flex;
    gap: 2rem;
    font-size: 1rem;
    padding: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.used-technologies > li {
    transform: scale(0.5);
}

.about-github-black {
    width: 5rem;
}

.about-git {
    width: 9rem;
}

.about-javascript,
.about-react,
.about-html {
    width: 5rem;
}

.section-1:hover {
    height: 13rem;
    transition: 1.1s;
}

.tech-info {
    height: 9rem;
    display: none;
    width: 50%;

    font-size: 1.7rem;
    font-weight: bold;
    color: var(--purple);
}

.section-1:hover > .tech-info {
    display: block;
    box-shadow: 0 0 0.6rem var(--purple);
    animation: fadeIn 2s;
}

.section-1:hover > .used-technologies,
.section-1:hover > .tech-hover {
    display: none;
}

.tech-hover {
    position: absolute;
    top: 41.5rem;
    color: var(--darkgrey);
    right: 3rem;
    display: block;
}

.table-tech {
    width: 70%;
    font-size: 1.2rem;
    margin: 0.5rem 1rem;
}

.table-tech > tr > th {
    text-align: start;
    width: 30%;
    padding-bottom: 1rem;
}

.table-tech > tr > td {
    width: 25%;
    font-weight: 500;
    padding-left: 1.2rem;
}

.learning-tech-p1 {
    padding-top: 1rem;
    font-size: 1.2rem;
    margin: 0.5rem 1rem;
}

.learning-tech-p2 {
    font-size: 1.2rem;
    font-weight: 500;
    padding-left: 1.7rem;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
