body {
    /* margin: 0 auto;
    max-width: 50%;
    float: none; */

    --lighterGrey: #d3d3d3;
    --black: #0f0c08;
    --purple: #2b164f;
    --darkGrey: #2f2f2f;
    --background: #f2f2f2;
    --grey: #bebebe;

    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    position: inherit !important;
}

html {
    scroll-behavior: smooth;
}
